<center>


<div class="jumbotron">
  <div class="container">
   
<h1> Welcome to your Brewbook!!!! </h1>

  </div>
</div>

<a class="btn btn-success btn-lg" href= <%= url_for brewbook_materials_path %> role="button">Materials</a>
</br>
</br>
<a class="btn btn-success btn-lg" href= <%= url_for brewbook_brewhouse_path %> role="button">Brewhouse</a>
</br>
</br>
<a class="btn btn-success btn-lg" href= <%= url_for brewbook_recipes_path %> role="button">Recipes</a>
</br>
</br>
<a class="btn btn-success btn-lg" href= <%= url_for brewbook_cellar_path %> role="button">Cellar</a>
</br>
</br>
<a class="btn btn-success btn-lg" href= <%= url_for brewbook_bar_path %> role="button">Bar</a>



</center>





