<div class="jumbotron">
  <div class="container">
   <center>
<h1> Welcome to your Materials!!!! </h1>
</center>
  </div>
</div>


<%= form_for :malts, url: malts_path do |f| %>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
 
  <p>
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= form_for :hops, url: hops_path do |f| %>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
 
  <p>
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= form_for :yeasts, url: yeasts_path do |f| %>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
 
  <p>
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>


